/* .vitepress/theme/custom.css */
:root {
    --vp-c-brand: #9575CD;
    --vp-c-brand-dark: #512DA8;
    --vp-c-brand-light: #B39DDB;
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient(
      90deg,
      #C6ADFF 30%,
      #7948EA
    );
}